body {
    width: 100%;
    font-size: 16px;
    background-color: white;
}

header { 
    margin: 0 auto;
    width: 1400px;
    height: 100px;
}

h1 {
    text-shadow: 2px 2px 0 #cccccc;
}

.user {
    float: left;
    margin-left: 10%;
    width: 350px;
}

.filter {
    width: 300px;  
    padding-top: 25px;
    float: right; 
    position: relative;  
}

.filter input {
    margin-top: 7px;
} 

.log {
    width: 300px;
    height: 21px;
    text-align: center;
    font-size: 20px;
}

.name {
    width: 96%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 50px;
}

.aut_form {
    width: 550px;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.aut_font {
    background-color: #6495ED;
    font-size: 25px;
    vertical-align: top;
    padding-left: 50px;
    padding-right: 50px;
}

pre {
    font-family: Arial;
    font-size: 18px;
}

.content {
    width: 1100px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 10px 0px 10px 100px;
    background-color: #E6E6FA;
    border: 1px solid grey;
}

.content_aut {
    margin: 0 auto;
    border: 1px solid grey;
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    padding-left: 23%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}

.content_add {
    margin: 0 auto;
    border: 1px solid grey;
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-left: 23%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,1); 
}

.edit_form {
    width: 800px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.post {
    width: 55%;
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 120px;
    background-color: white;
    border: 1px solid grey;
}

.instruments {
    font-size: 22px;
    float: right;
    text-align: right;
    margin-bottom: 10px;
}

.date {
    text-align: right;
    font-size: 18px;
}

.description {
    position: relative;  
    padding: 10px;
    height: 68px;
    width: 75%;
    border: 1px solid grey;
    float: left;
    font-size: 18px;
    margin-top: 10px;
}

.inputs { 
    padding: 10px;
    height: 20px;
    width: 95%;
    border: 1px solid grey;
    font-size: 18px;
    margin-top: 10px;
}

.obl {
    width: 97%;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    font-size: 25px;
}

.obl_edit {
    width: 97%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    font-size: 25px;
}

.hashtag {
    height: 20px;
    margin-top: 20px;
    border: 1px solid grey;
}

.hello {
    font-size: 30px;
    height: 35px;
    width: 160px;
    margin-left: 13%;
}

button.prime {
    background: #6495ED;
    border-radius: 20px;
    font-size: 18px;
    margin-left:  40px;
    height: 35px;
    width: 160px;
    outline: none;
}

button.prime_right {
    background: #6495ED;
    border-radius: 20px;
    font-size: 18px;
    margin-left:  40px;
    height: 35px;
    width: 160px;
    outline: none;
    position: relative;  
    float: right;
    margin-right: 70px;
}

.OK {
    width: 50px;
    margin-top: 10px;
}

.like {
    position: relative;  
    float: right;
    margin-top: 5px;
}

.main_photo {
    margin-left: 13%;
    height: 60px;
    width: 60px;
    background-image: url(images/authorized_user.jpg);
    background-repeat: no-repeat;
}

.photo {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}

.photo_edit {
    width: 35%;
    background-repeat: no-repeat;
}

.photoLink {
    width: 100%;  
    background-repeat: no-repeat;
}

button.like {
    height: 95px;
    width: 108px;
    background-color: white;
    background-image: url(images/like.png);
    background-repeat: no-repeat;
}

button.pressed_like {
    height: 90px;
    width: 108px;
    margin-top: 10px;
    margin-left: 500px;
    background-color: white;
    background-image: url(images/pressed_like.png);
    background-repeat: no-repeat;
}

button.more {
    background: #6495ED;
    height: 35px;
    width: 200px;
    outline: none;
    margin-left: 380px;
    font-size: 15pt;
}

.username {
    background-color: #C0C0C0;
    font-size: 25px;
    vertical-align: top;
    border-radius: 10px;
    white-space: pre;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1%;
}

.footer_1 {
    padding: 20px;
    text-align: left;
    float: left;
    position: relative;  
}

.footer_2 {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    position: relative;  
    text-align: right;
}

footer b {
    font-size: 25px;
}

footer {
    margin: 0 auto;
    width: 1190px;
    height: 110px;
    padding: 0px 0px 0px 10px;
    background: #C0C0C0;
    text-align: center;
    border: 1px solid grey;
}